body {
	background-color:white ;
	background-size: cover;
   background-repeat: no-repeat;
    height: auto;
    overflow:hidden;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* style made changes for theme context */

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white
}

.light a {
  color: blue !important;
}

.dark a {
  color: yellow !important;
}

.light button {
  color: white;
  background-color: black;
}

.dark button {
  color: black;
  background-color: white;
}